<a href="https://colab.research.google.com/github/ta7er-Alalfi/iti/blob/main/Task4iti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Import pandas
import pandas as pd
import numpy as np

file_path = '/content/drive/MyDrive/Data/Purchase_Data.csv'
df = pd.read_csv(file_path)


print("CSV file loaded successfully! Here are the first few rows:")
print(df.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
CSV file loaded successfully! Here are the first few rows:
   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [3]:
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Import pandas
import pandas as pd
import numpy as np

file_path = '/content/drive/MyDrive/Data/Titanic.csv'
df = pd.read_csv(file_path)


print("CSV file loaded successfully! Here are the first few rows:")
print(df.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
CSV file loaded successfully! Here are the first few rows:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S